{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    {% load static %}
    <aside class="col-12 col-md-6">
      <img src={% static 'img/author.jpg' %} width="90%">
    </aside>
    <article class="col-12 col-md-6">
      <h1>Привет,</h1>
      <h1>я Александр Савич,</h1>
      <h1>автор этого проекта!</h1>
      <p> Долгое время я был программистом любителем-самоучкой. Но в 2022 году принял
        решение пройти курс по программированию от Яндекс.Парктикум.
        Так я освоил професиию "бэкэнд-программист Python" </p>
      <p> Этот сайт написан с нуля, чисто кодом, без применения конструкторов. Реализованы классы,
        права доступа, база данных и многое другое. Сайт по типу твиттера, где каждый имеет право высказаться,
        подписаться на полюбившегося автора и комментировать посты друзей и малознакомых людей</p>
    </article>
  </div>
</div>
{% endblock %} 